[user]
    name = Justin Rosenthal
    email = jhrosenthal@lolapps.com
[alias]
    co = checkout
    ci = commit
    st = status
    br = branch
[core]
    excludesfile = ~/.gitignore
[color]
    ui = true
[color "diff"]
    plain = normal
    meta = bold
    frag = blue
    old = red
    new = green
    commit = yellow
    whitespace = normal red
[apply]
    whitespace = nowarn
